body{
    background-color: #EFEFEF;
}
.navbarBg{
    background-color: white;
    padding-left: 4.5%;
    color: #2F3047;
    box-shadow:0px 15px 60px #2F304733;
}
.toggle_icon{
    color: #2F3047;
}
.addlink{
    display: none;
}
.navUl{
    padding-right: 4.5%;
}
.layout{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.sidebar{
    width: 17%;
    padding-top: 2%;
}

h1{
    font-family: "Lato";
    color: #193b68;
}
h3{
    font-family: 'Lato';
    color: #2F3047;
}
h2{
    font-family: "Lato";
    color: #193b68;
    text-transform: uppercase;
}
h5{
    color: #193b68;
    font-family: "Lato";
}
h6{
    margin-top: 5px;
    color: #000000bf;
}
hr{
    border-top: 1px solid #00000040;
}

.actionBtn{
    width: 100%;
    margin-top: 20%;
    display: block;
}
.unactive{
    width: 100%;
    height: 40px;
    color: #1479ff;
    opacity: 0.5;
    border: 2px solid #1479ff8e;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 5%;
}
.active{
    width: 100%;
    height: 40px;
    background-color: white;
    color: #2F3047;
    border: 2px solid #2F3047;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    margin-top: 5%;
    box-shadow:0px 15px 25px #2F304766;
}
.active:hover, .unactive:hover{
    color: #2F3047;
    text-decoration: none;
}
.actionDiv{
    width: 45%;
    margin-top: 2%;
}
.Formdiv{
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow:0px 15px 25px #2F304766;
    padding: 20px;
    margin-bottom: 2%;
}
.PostDiv{
    width: 45%;
    margin-top: 2%;
}
label{
    color: #193b68;
}
.highlight{
    border: 1px solid #2F3047;
}
.post{
    width: 100%;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow:0px 15px 25px #2F304766;
    margin-bottom: 5%;
}
.primary{
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #2F3047;
    box-shadow:0px 15px 25px #2F304766;
    color: white;
    text-align: center;
    justify-content: center;
}
.prim{
    width: 95%;
}
.secondary{
    width: 200px;
    height: 40px;
    border: 2px solid #2F3047;
    border-radius: 5px;
    background-color: white;
    box-shadow:0px 15px 25px #2F304766;
    color: #2F3047;
    text-align: center;
    justify-content: center;
}
.secondary2{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #EFEFEF;
    box-shadow:0px 15px 25px #193b6866;
    color: #193b68;
    text-align: center;
    justify-content: center;
    margin-left: 8px;
}
.edit{
    width: 90px;
    height: 40px;
    border: none;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    margin-left: 8px;
    box-shadow:0px 15px 25px#ffff44a6;
    background-color: #ffff44a6;
}
.color{
    color: brown;
}
.color:hover{
    color: brown;
}
.delete{
    width: 90px;
    height: 40px;
    border: none;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    margin-left: 8px;
    box-shadow:0px 15px 25px #ff444466;
    background-color: #ff444466;
    color: #ff4444;
}
.end{
    display: flex;
    justify-content: space-between;
}
.action2{
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: space-around;
}
.action{
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: space-around;
}
.icon{
    margin: 0px 5px;
}
.divider{
    width: 100%;
    text-align: center;
    margin: 5% 0;
}
.right-sidebar{
    width: 20%;
    margin-top: 2%;
}
.Greeting{
    width: 100%;
    background-color: white;
    box-shadow:0px 15px 25px #2F304766;
    border-radius: 10px;
    border: 2px solid #2F3047;
    padding: 20px;
}
p{
    color: #000000b3;
}
.subinfo{
    display: flex;
    justify-content: space-between;
}
.footer{
    margin-top: 50%;
    width: 100%;
    height: 70px;
    background-color: #EFEFEF;
    border-radius: 5px;
    box-shadow: 0px 15px 25px #193b6866;
    text-align: center;
    display: flex;
    padding: 10px;
}
.p1{
    color: #193b68;
}
.addi{
    margin-top: 10%;
    width: 100%;
    height: 70px;
    background-color: #2F30471a;
    border-radius: 5px;
    box-shadow: 0px 15px 25px #2F304766;
    text-align: center;
    display: flex;
    padding: 10px;
}
@media screen and (max-width:1000px){
    .right-sidebar{
        display: none;
    }
    .sidebar{
        width: 25%;
    }
    .actionDiv, .PostDiv{
        width: 65%;
    }
}

@media screen and (max-width:900px){
    .sidebar{
        width: 20%;
    }
}

@media screen and (max-width:760px){
    .sidebar{
        display: none;
    }
    .addlink{
        display: block;
    }
    .actionDiv, .PostDiv{
        width: 95%;
    }
}
@media screen and (max-width:500px){
    .end{
        display: block;
    }
    .action{
        padding-top: 10px;
        width: 300px;
    }
    .primary, .secondary{
        width: 300px;
    }
    .secondary2{
        width: 140px;
    }
}
@media screen and (max-width:450px){
    .action{
        width: 80%;
    }
    .primary, .secondary{
        width: 80%;
    }
    .secondary2{
        width: 40%;
    }
    .subinfo{
        display: block;
    }
}
